<div  class="parent">
  <div class="top-nav">
    <div class="leadings">
      <h2><a nz-button nzType="link" class="action-link" routerLink="/" >FOCUS TODO</a></h2>
      <button *ngIf="isRouteAuth()" nz-button nz-dropdown [nzDropdownMenu]="menu"><i class="add-circle" nz-icon nzTheme="fill"
                                                               nzType="plus-circle"></i>New Item<i
        nz-icon nzType="down"></i></button>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item>
            <a>Next</a>
          </li>
          <li nz-menu-item>
            <a>Waiting</a>
          </li>
          <li nz-menu-item>
            <a>Scheduled</a>
          </li>
          <li nz-menu-item>
            <a>Someday</a>
          </li>
        </ul>
      </nz-dropdown-menu>
    </div>
    <div *ngIf="isRouteAuth()" class="actions">
      Settings
    </div>
    <div class="actions">
      <a nz-button nzType="link" class="action-link" routerLink="login" href="">Login </a>
      <a nz-button nzType="link" class="action-link" routerLink="register" href="">Register </a>
    </div>
  </div>
</div>

