<div *ngIf="isRouteAuth()" class="sidebar">
  <div class="nav-items">
    <nz-collapse>
      <nz-collapse-panel
        *ngFor="let panel of panels"
        [nzHeader]="panel.name"
        [nzActive]="panel.active"
        [nzDisabled]="panel.disabled"
        [ngStyle]="panel.customStyle"
      >
        <div *ngFor="let action of actions; let i = index" [class.active]="selectedIndex === i" (click)="setIndex(i)"
             routerLink="/{{action.routeLink}}" class="nav-item active">
          <i nz-icon nzType="{{action.icon}}" nzTheme="outline"></i>
          {{action.title}}
        </div>

      </nz-collapse-panel>
    </nz-collapse>

  </div>

</div>
